<main>
  <div class="container pl-2 pr-2 pt-5">
    <div class="alert-info p-3">
      Aplikacija trenutno prikazuje podatke naslednjih avtobusnih prevoznikov:
      Nomago.
    </div>
  </div>
  <app-search-box
    *ngIf="searchboxViewState == 'show'"
    [postajalisca]="postajalisca"
  ></app-search-box>
  <app-loading *ngIf="searchboxViewState == 'loading'"></app-loading>

  <app-loading *ngIf="timetableViewState == 'loading'"></app-loading>
  <app-timetable-card
    *ngFor="let timetable of timetables"
    [timetable]="timetable"
  ></app-timetable-card>

  <div
    *ngIf="timetableViewState == 'show' && timetables?.length == 0"
    class="container p-2"
  >
    <div class="shadow card p-2 pt-4">
      <h4 class="text-center">
        <i class="ri-forbid-2-line"></i>
      </h4>
      <h4 class="text-center" style="font-weight: 200;">
        Za izbrani postaji na izbran datum ne najdem povezav.
      </h4>
    </div>
  </div>
</main>
