<div class="container pl-2 pr-2 pb-5 pt-5">
  <div class="shadow-lg card p-2 pt-4">
    <div class="d-flex justify-content-center">
      <h1 class="text-center d-flex align-items-center">
        <i class="ri-search-eye-line"></i>
        Iskanje
      </h1>
    </div>
    <div class="ml-5 mr-5">
      <hr />
      <div *ngIf="error" class="alert alert-danger" role="alert">
        <div *ngFor="let e of error">
          {{ e }}
        </div>
      </div>
      <div class="row w-100 no-padding" style="padding: 0; margin: 0">
        <datalist id="postajalisca">
          <option
            *ngFor="let postajalisce of postajalisca"
            [value]="postajalisce.name"
          ></option>
        </datalist>
        <div
          class="input-group mb-3 col-lg-6 nopadding"
          style="padding-left: 0"
        >
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Vstop</span>
          </div>
          <input
            list="postajalisca"
            type="text"
            class="form-control"
            [(ngModel)]="vstopInput"
          />
        </div>
        <div
          class="input-group mb-3 col-lg-6 nopadding nomargin"
          style="padding-right: 0"
        >
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Izstop</span>
          </div>
          <input
            [(ngModel)]="izstopInput"
            list="postajalisca"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Datum</span>
        </div>
        <input
          type="date"
          class="form-control"
          [ngModel]="datumInput | date: 'yyyy-MM-dd'"
          (ngModelChange)="datumInput = $event"
          type="date"
        />
      </div>
      <div class="input-group mb-3">
        <button
          (click)="searchTimetable()"
          class="btn btn-outline-info btn-block"
        >
          Poišči vozni red
        </button>
      </div>
    </div>
  </div>
</div>
